---
eleventyNavigation:
    key: main
    order: 1
    title: Home
---
{%- extends "page.njk" %}
{%- import "util.njk" as util %}
{%- block head_extra %}
<link rel="canonical" href="{{ defs.main_address }}">
{%- for profile in defs.external_profiles %}
<link rel="me" href="{{ profile.url }}">
{%- endfor %}
<meta name="description" content="{{ defs.site_description }}">
{%- endblock %}
{%- block content %}
<section>
<div>There is much existing content for both adults and children online that can bring good, happy use of our time.</div>
<br />
<ul>
{%- for media_type, categories in items.grouped %}
  <li>{{ types.media_types[media_type].title }}
  <ul>
  {%- for category, items in categories %}
    <li>{{ types.categories[category].title }}
    <ul>
      {%- for item in items %}
        <li>{{ util.item_entry(item, types, hide_fields=["media_type", "main_category", "tags"]) }}</li>
      {%- endfor %}
    </ul>
    </li>
  {%- endfor %}
  </ul>
  </li>
{%- endfor %}
</ul>
<div>More updates to come, B'ezras Hashem!</div>
<br /><br />
<footer><p>Source code available <a href="https://gitlab.com/abbafei/abbafei.gitlab.io/">here</a>.</p></footer>
</section>
{%- endblock %}
