---
layout: page
eleventyNavigation:
    key: main
    order: 1
    title: Home
---
{% macro info_type(type, flow=true) -%}
, <span style="font-weight: bold">{{ type }}</span>{% if not flow %}:{% endif %} {{ caller() }}
{%- endmacro %}
<section>
<p>There is much existing content for both adults and children online that can bring good, happy use of our time.</p>
<ul>
{%- for media_type, categories in items.grouped %}
  <li>{{ media_type.title }}
  <ul>
  {%- for category, items in categories %}
    <li>{{ category.title }}
    <ul>
      {%- for item in items %}
        <li>
          {%- if "web" in item.endpoints %} {# TODO: make so only picks up if has web link without label? #}
            <a href="{{ item.endpoints.web.entries[0].url }}">{{ item.title }}</a>
          {%- else %}
            {{ item.title }}
          {% endif %}
          <a class="btn btn-outline-primary btn-sm" href="items/{{ item.id | slug }}">More info</a>
          {%- if "target_audience" in item -%}{%- call info_type("For", flow=false) -%}
          {% set comma = joiner(", ") %}{% for audience in item.target_audience -%}<span class="sr-only">{{ " and " if loop.last and not loop.first else comma() }}</span><span class="badge badge-primary">{{ types.target_audiences[audience].title }}</span>{% endfor %}
          {%- endcall -%}{%- endif %}
          {%- if "fee" in item -%}{%- call info_type("Fee", flow=false) -%}
            <span class="badge badge-primary">{{ "yes" if item.fee[0].has_fee else "no" }}</span>{%- if "description" in item.fee[0] %} ({{ item.fee[0].description }}){%- endif -%}
          {%- endcall -%}{%- endif %}
        </li>
      {%- endfor %}
    </ul>
    </li>
  {%- endfor %}
  </ul>
  </li>
{%- endfor %}
</ul>
<p>More updates to come, B'ezras Hashem!</p>
<br />
<footer><p>Source code available <a href="https://gitlab.com/abbafei/abbafei.gitlab.io/">here</a>.</p></footer>
</section>
