---
pagination:
    data: items.all
    size: 1
    alias: item
permalink: "items/{{item.id | slug}}/"
layout: page
---
{%- macro entry(item, entry_name) %}
<h5>{{ entry_name }}</h5>
{{ caller() }}
{%- endmacro %}
<section>
<h1>{{ item.title }}</h1>
{# {%- if "subtitle" in item %}
<h3>{{ item.subtitle }}</h3>
{%- endif %} #}
{%- if "content_type" in item %}{% call entry(item, "Content type") %}
<p>{{ types.content_types[item.content_type].title }}</p>
{%- endcall %}{% endif %}
{# {%- if "description" in item %}{% call entry(item, "Description") %}
<p>{{ item.description }}</p>
{%- endcall %}{% endif %} #}
{%- if "endpoints" in item %}
{%- for endpoints_type_id, endpoints_typed in item.endpoints | dictsort %}
  {%- if "formatter" in types.endpoints[endpoints_type_id] and "title" in types.endpoints[endpoints_type_id] %}
  {% call entry(item, ["Links — ", types.endpoints[endpoints_type_id].title] | join) %}
  <ul>
  {%- for endpoint in endpoints_typed %}
    <li>
      <a href="{{ endpoint.url }}">{{ endpoint.url }}</a>{% if "label" in endpoint %} ({{ endpoint.label }}){% endif %}
    </li>
  {%- endfor %}
  </ul>
  {%- endcall %}
  {%- endif %}
{%- endfor %}
{% endif %}
{%- if "fee" in item %}{% call entry(item, "Has fee?") %}
<p>{{ "yes" if item.fee[0].has_fee else "no" }}{%- if "description" in item.fee[0] %} ({{ item.fee[0].description }}){%- endif -%}</p>
{%- endcall %}{% endif %}
{%- if "site_id" in item %}{% call entry(item, "From") %}
<p>{{ items.dict[item.site_id].title }} (<a href="/items/{{ item.site_id | slug }}">More info</a>)</p>
{%- endcall %}{% endif %}
{%- if "part_of" in item %}{% call entry(item, "Is part of") %}
<p>{{ items.dict[item.part_of].title }} (<a href="/items/{{ item.part_of | slug }}">More info</a>)</p>
{%- endcall %}{% endif %}
{%- if "target_audience" in item %}{% call entry(item, "Target audiences") %}
<ul>
{%- for audience in item.target_audience %}
  <li>{{ types.target_audiences[audience].title }}</li>
{%- endfor %}
</ul>
{%- endcall %}{% endif %}
{%- if "announcements" in item %}{% call entry(item, "Announcements") %}
<ul>
{%- for announcement in item.announcements %}
  <li><a href="{{ announcement }}">{{ announcement }}</a></li>
{%- endfor %}
</ul>
{%- endcall %}{% endif %}
</section>
